/* custom.css */

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
  transition: color 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.75);
  transition: color 0.3s ease-in-out;
}

.navbar-dark .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.95);
}

.navbar-dark .nav-item .btn {
  transition: background-color 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.55);
}

.navbar-dark .nav-item .btn:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.75);
}

.nav-link.btn {
  padding: 0.5rem 1rem; /* Adjust padding to match other nav-links */
  margin-left: 0.5rem; /* Add margin to separate from other nav items */
}

/* Ensure full screen coverage */
html, body {
  height: 100%;
  margin: 0;
}

.container-full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
