<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Events</title>
</head>
<body>
<h1>Events</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="event : ${events}">
    <td th:text="${event.name}"></td>
    <td th:text="${event.description}"></td>
    <td th:text="${event.location}"></td>
    <td th:text="${event.date}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
