<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Student</title>
</head>
<body>
<h1>New Student</h1>
<form th:action="@{/students/save}" method="post">
  <div>
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" required />
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" required />
  </div>
  <div>
    <label>Email:</label>
    <input type="email" th:field="*{email}" required />
  </div>
  <div>
    <label>Event:</label>
    <select th:field="*{event}" required>
      <option th:each="event : ${events}" th:value="${event}" th:text="${event.name}"></option>
    </select>
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>
</body>
</html>
